
html {
    font-family: Arial; 
    display: inline-block; 
    text-align: center;
}

h2 {
    font-size: 3.0rem;
}

p {
    font-size: 3.0rem;
}

body {
  max-width: 600px; 
  margin:0px auto; 
  padding-bottom: 25px;
  background-color: antiquewhite;
}
.switch {
    position: relative; 
    display: inline-block; 
    width: 120px; 
    height: 68px
} 
.switch input {
    display: none
}

.switchswitchswitchswitchSlider {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: #ccc; 
  border-radius: 34px
}
.switchswitchswitchswitchSlider:before {
    position: absolute; 
    content: ""; 
    height: 52px; 
    width: 52px; 
    left: 8px; 
    bottom: 8px; 
    background-color: #fff; 
    -webkit-transition: .4s; 
    transition: .4s; 
    border-radius: 68px
}

input:checked+.switchswitchswitchswitchSlider {
    background-color: #2196F3
}
input:checked+.switchswitchswitchswitchSlider:before {
    -webkit-transform: translateX(52px); 
    -ms-transform: translateX(52px); 
    transform: translateX(52px)}

.slider { 
  -webkit-appearance: none; 
  margin: 14px; 
  width: 360px; 
  height: 25px; 
  background: #69624e;
  outline: none; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 35px; 
    height: 35px; 
    background: #003249; 
    cursor: pointer;
}

.slider::-moz-range-thumb { 
    width: 35px; 
    height: 35px; 
    background: #003249; 
    cursor: pointer; }